@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --text-base: 1rem;
    --text-xxl: 2.441rem;
    --text-xl: 1.953rem;
    --text-lg: 1.563rem;
    --text-md: 1.25rem;
}

* {
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

h1{
    font-size: var(--text-xxl);
    text-align: center;
}

h2{
    font-size: var(--text-xl);
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
}

h3{
    font-size: var(--text-md);
    font-weight: normal;
}

.transaktion-money,
.transaktion-name{
    display: flex;
    flex-direction: column;
}

.transaktion-input{
    max-width: 300px;
}

.transaktion-name{
    margin-bottom: 1rem;
}

label{
    margin-bottom: 0.5rem;
}

.transaktion-money{
    margin-bottom: 0.8rem;
    
}

.transaktion-button{
    width: 100%;
    max-width: 148px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.transaktion-button-plus{
    background: #006855;
    color: white;
    transition: all 0.3s ease-in-out;
}

.transaktion-button-minus{
    background: #C22308;
    color: white;
    transition: all 0.3s ease-in-out;
    
}

.transaktion-button-plus:hover{
    background: #019501;
    color: white;
}

.transaktion-button-minus:hover{
    background: #e62a09;
    color: white;
}

section{
    margin-bottom: 8rem;
}

.balance-transaction{
    max-width: 500px;
    min-height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: inset  0px 0px 15px 0.2px rgba(0, 0, 0, 0.3);
}

.balance-income,
.balance-excome{
    width: 50%;
    text-align: center;
}

.balance-income{
    border-right: 1px solid black;
}

.balance-income{
    color: green;
}

.balance-excome{
    color: red;
}

.my-balance{
     font-size: 3rem;
     margin: 0 auto;
     text-align: center;
     margin-bottom: 3rem;
}

.income-history{
    background-color: #006855;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    max-width: 500px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.excome-history{
    background-color: #e62a09;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    max-width: 500px;
    border-radius: 10px;
    margin-bottom: 1rem;
}